@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #f5f5f5;
  background: #147c64;
  min-height: 100vh;

  --main: #147c64;
  --secondary: #0f4037;
  --text: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5vh;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;

  border-radius: 5px;
  padding: 1vw;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1vw;
  border-radius: 5px;
  gap: 20px;
}

.homepage:hover {
  cursor: pointer;
}

.login-box {
  width: 20vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.login-box .user-box {
  position: relative;
  margin-bottom: 10px;
}

.login-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  transition: all 0.3s ease;
}

.login-box input::placeholder {
  color: #8f8f8f;
}

.login-box input:focus {
  border-bottom: 1px solid var(--main);
}

.login-box input:focus + label,
.login-box input:not(:placeholder-shown) + label {
  font-size: 12px;
  color: var(--main);
}

.login-box label {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0 5px;
  font-size: 18px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box input[type="date"] {
  color: #8f8f8f;
}

.login-box input[type="number"] {
  color: #fff;
  background: transparent;
}

.lit-back {
  background: var(--secondary);
}

.toggle-password {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-40%);
  background: none;
  border: none;
  color: var(--text);
  cursor: pointer;
  font-size: 14px;
  outline: none;
  padding: 0 10px;
}

.toggle-password:hover {
  color: #fff;
}

.register-success {
  display: inline-block;
  color: darkgreen;
}

.taken {
  display: inline-block;
  color: red;
}

.user {
  margin-top: 10vh;

  display: flex;

  gap: 150px;
}

.user-card {
  border-radius: 10px;

  padding: 10px;

  background: linear-gradient(135deg, #14a272, #0f4037, #1c8677, #0e3c34);

  height: 32.5vh;
  width: 55vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-chip, .card-master {
  width: 10vh;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.card-logo {
  width: 315px;
  height: 45px;
}

.card-contactless {
  width: 56px;
  height: 56px;
}

.user-transfer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  padding: 10px;
}

.card-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-mid-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-mid-data-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  gap: 5vw;
}

.user-access {
  position: absolute;
  right: 0;
  top: 0;
}


/* BUTTON CSS */
.homepage-button {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.homepage-button:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.homepage-button:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.homepage-button:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.homepage-button:disabled:active {
  pointer-events: none;
}

.homepage-button:hover {
  background-color: rgba(54, 169, 174, 0.5);
}

.compact-user-table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.compact-user-table th, .compact-user-table td {
  border: 1px solid #ddd;
  padding: 12px 15px;
}

.compact-user-table th {
  background-color: var(--secondary);
  font-weight: bold;
}

.compact-user-table tr:nth-child(even) {
  background-color: var(--secondary);
}

.compact-user-table tr:hover {
  background-color: var(--secondary);
}
